

{% extends "biblioteca/base.html" %}

{% block contenido %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Editar mis datos</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h5>Datos Personales</h5>
                        {{ user_form.as_p }}
                        <hr>
                        <h5>Información Adicional</h5>
                        {{ perfil_form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success">Guardar Cambios</button>
                            <a href="{% url 'perfil' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
