
{% extends "biblioteca/base.html" %}

{% block contenido %}
    <h1>Bienvenido a la Gestión de la Biblioteca</h1>
    <p>Esta es la página principal de tu trabajo práctico de Python y Django.</p>
    
    <div style="margin-top: 20px;">
        <h3>Opciones disponibles:</h3>
        <ul>
            <li>Cargar nuevos autores en la base de datos.</li>
            <li>Próximamente: Cargar Libros y Socios.</li>
            <li>Buscar libros existentes.</li>
        </ul>
    </div>
{% endblock %}
